
:root{
    --font-color: #011222;
    --custom-white: #F9FBF9;
    --custom-white-zero: rgba(249, 251, 249, 0);
    --hover-link: #FCD4D9;
    --hover-link-zero: rgba(252, 212, 217, 0);
    --dark-hover-background-color: #9F566D;
    --light-background-color: #F9F3F2;
    --dark-background-color: #C397A3;
    --footer-background-color: #DDC4CA;
    --zero-dark-background-color: rgba(159, 86, 109, 0);
    --zero-light-background-color: rgba(249, 243, 242, 0);
    --twentfife-dark-hover-background-color: rgba(159, 86, 109, 25);
    --custom-transition: all 300ms linear;
    box-sizing: border-box;
    font-family: "quicksand";
    font-weight: 550;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* general rules for body */
body {
    width: clamp(400px, 95vw, 1400px);
    margin: 50px auto 0;
    line-height: 1.5;
    background-color: var(--custom-white);
    color: var(--font-color);
    overflow-x: hidden;
}

a{
    color: var(--font-color);
    text-decoration: none;
}

/* styling of headings */
h1,
h2,
h3,
h4,
h5 {
    font-family: "dancing script";
    color: var(--font-color);
    font-weight: 550;
}

h1 {
    position: relative;
    font-size: 2.986em;
    width: fit-content;
    z-index: 100;
    margin: 0 auto;
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: calc(100% + 10px);
    height: 0.5em;
    background: linear-gradient(to right, var(--light-background-color), var(--dark-background-color) 85%);
    z-index: -1;
    border-radius: 2px;
}

h2{
    font-size: 2.488rem;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, var(--zero-dark-background-color) 0%, var(--dark-background-color) 10%, var(--dark-background-color) 90%, var(--zero-dark-background-color) 100%);
    border-image-slice: 1;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 0;
}

h3 {
    font-size: 2.074rem;
    width: min(100%, 400px);
    align-self: center;
    margin: 0;
    text-align: center;
    justify-self: center;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, var(--zero-light-background-color) 0%, var(--light-background-color) 10%, var(--light-background-color) 90%, var(--zero-light-background-color) 100%);
    border-image-slice: 1;
    padding-bottom: 0.25rem;
}

.noMarginButtom{
    margin-bottom: 0;
}

.centerHeading{
    width: fit-content;
    margin: 0 auto;
}

/* styling nav */

nav{
    display: grid;
    grid-template-columns: 90% 10%;
}

ul{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

li{
    display: inline;
}

nav li a {
    padding: 0.5rem 1rem;
    background-color: var(--light-background-color);
    border-radius: 0.75rem;
    margin: 0 0.5rem;
    font-family: "dancing script";
    font-size: 1.44rem;
    transition: all 300ms linear;
}

nav li:hover a, nav li:focus a{
    background-color: var(--dark-hover-background-color);
    color: var(--custom-white);
    box-shadow: 0 4px 4px var(--twentfife-dark-hover-background-color);
    transition: all 300ms linear;
}

/* styling nav meü */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
    background-color: var(--dark-hover-background-color);
    z-index: 1001;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
}

/* Sichtbarer Zustand */
.sidenav.active {
    transform: translateX(0);
}

/* Header mit Close-Button + Titel */
.sidenav .menu-header {
    position: relative;
    padding: 15px 20px;
    flex-shrink: 0;
}


.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
}

/* Scrollbarer Bereich */
.sidenav .sidenav-inner {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    padding: 20px;
}

/* Titel-Link */
.sidenav a.title {
    font-size: 2.986rem;
    text-align: center;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(
    to right,
    var(--custom-white-zero) 0%,
    var(--custom-white) 10%,
    var(--custom-white) 90%,
    var(--custom-white-zero) 100%
    );
    border-image-slice: 1;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto 1.5rem;
}

/* Subtitle-Links */
.sidenav a.subtitle{
    font-size: 2.488rem;
    text-align: left;
    margin: 0;
    margin-top: 1rem;
}

/* Menü-Links */
.sidenav a {
    text-decoration: none;
    font-size: 2.074rem;
    color: #FFF;
    display: block;
    transition: 0.5s;
    font-family: "dancing script";
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1.5px solid var(--zero-dark-background-color);
}

/* Menü-Link Hover */
.sidenav a:hover, a:focus-visible {
    color: var(--hover-link);
    border-bottom: 1.5px solid;
    border-image: linear-gradient(
    to right,
    var(--hover-link-zero) 0%,
    var(--hover-link) 10%,
    var(--hover-link) 90%,
    var(--hover-link-zero) 100%
    );
    border-image-slice: 1;
    width: fit-content;
    padding: 0 20px;
}

.sidenav a.subtitle:hover, a.subtitle:focus-visible{
    padding-left: 0;
}

a.closebtn:hover, a.closebtn:focus-visible {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Overlay */
#overlay {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(59,28,36,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
}
#overlay.active {
    opacity: 1;
    visibility: visible;
}

/* styling language select */
.language-select {
    position: relative;
    display: inline;
    cursor: pointer;
    user-select: none;
    max-width: fit-content;
    background-color: var(--custom-white);
    left: 80%;
}

.lang-btn {
    padding: 0 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.lang-btn:hover {
    color: var(--dark-hover-background-color);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--custom-white);
    display: none;
    flex-direction: column;
    width: 4rem;
    z-index: 100;
}

.dropdown.show {
    display: flex;
}

.dropdown div {
    padding: 0.25rem 1rem;
    cursor: pointer;
    background-color: var(--custom-white);
}

.dropdown div:hover {
    color: var(--dark-hover-background-color);
}

.arrow {
    margin-left: 8px;
    height: 24px;
}

/* back to top */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: var(--dark-background-color);
  color: var(--custom-white);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}

#backToTop.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

#backToTop:hover {
  /* color: var(--light-background-color); */
  background-color: var(--dark-hover-background-color);
  transition: var(--custom-transition);
}

.line{
  width: 100%;
  height: 1.5px;  
  background-image: linear-gradient(to right, var(--zero-dark-background-color) 0%, var(--dark-background-color) 10%, var(--dark-background-color) 90%, var(--zero-dark-background-color) 100%);
  margin: 2rem 0;
}

/* footer */
footer{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    background-color: var(--footer-background-color);
    border-radius: 20px;
    padding: 1.25rem;
}

footer section{
    width: 33%;
}

.footerInfosLinks{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
}

.footerContact .footerInfosLinks a{
    display: flex;
    align-items: center;
}

.footerInfosLinks{
    margin-top: 1rem;
    height: 200px;
}

.footerInfosLinks a{
    display: block;
}

/* styling icons */
footer path {
    height: 0.75rem;
}
footer svg {
    margin-right: 10px;
    vertical-align: middle;
}

/* footer link */
footer a{
    color: var(--font-color);
    transition: var(--custom-transition);
}

/* footer link hover */
footer a:hover, a:focus{
    text-decoration: underline var(--custom-white);
    transition: var(--custom-transition);
    color: var(--custom-white);
}

/* responsive */
@media only screen and (max-width:820px){
    body{
        margin: 20px auto 0;
    }
    
    footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    footer section{
    width: 100%;
    }

    .language-select{
        display: none;
    }
}

