main{
    max-width: 1000px;
    margin: 0 auto 2rem;
}

h1{
    margin: 0 auto;
    width: fit-content;
}

h3{
    border-bottom: none;
    padding: 0;
}

.personen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.person{
    display: flex;
    border-radius: 20px;
    align-content: start;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.person img, .abteilungsleiter img{
    border-radius: 50%;
    max-width: 300px;
}

.abteilungsleiter{
    grid-column: 1/3;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.personen p{
    text-align: center;
    margin: 0;
    border: 1.5px solid var(--dark-hover-background-color);
    border-left: none;
    border-right: none;
    width: 200px;
    margin: 0 auto;
}

a:hover{
    color: var(--dark-hover-background-color);
    transition: var(--custom-transition);
}

main ul{
    margin-left: 2rem;
    text-align: left;
}

main ul li{
    margin: 2rem;
}

main ul p{
    margin: 0;
}

.bulletpoint{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-hover-background-color);

}