main ul{
    margin: 1rem 0;
}

main li{
    display: block;
    text-align: left;
    width: 100%;
}

main li p{
    margin: 0;
}

p.subtitleAufzaelung{
    margin-top: 1rem;
    font-weight: bold;
    color: var(--dark-hover-background-color);
}

main h3{
    width: fit-content;
    text-align: left;
    justify-self: left;
    border-bottom: none;
    margin-top: 2rem;
    padding-bottom: 0;
}

.linkVisible{
    color: var(--dark-hover-background-color);
}

.linkVisible:hover{
    text-decoration: underline var(--dark-hover-background-color);
}

.ziel{
    margin-bottom: 2.5rem;
}

.ziel p{
    margin-top: 0;
    margin-bottom: 0;
}

.ziel .subtitleAufzaelung{
    margin: 1rem 2rem;
}

.ziel ul{
    display: block;
}

.ziel li{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.ziel span{
    color: var(--dark-hover-background-color);
    font-weight: bold;
    margin-right: 0.5rem;
}
