section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

section img{
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--dark-background-color);
}

main h2{
    margin: 0 auto  2rem;
}

.headImg{
    grid-column: 1 / 3;
}

main section div{
    align-self: center;
    text-align: justify;
}

.linkVisible{
    color: var(--dark-hover-background-color);
}

.linkVisible:hover{
    text-decoration: underline var(--dark-hover-background-color);
}

.datum{
    text-align: center;
}